@import "./config.scss";

.contactFormLists {
  padding: 20px;
  h2 {
    margin-left: unset;
    margin-bottom: 50px;
  }
}
.forms {
  #details {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #details td,
  #details th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #details tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  #details .message {
    width: 250px;
  }

  #details tr:hover {
    background-color: #ddd;
  }

  #details th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4caf50;
    color: white;
  }
}
